body{
    background-color: #0287FD;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

#main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media (mix-device-width: 320px) and (max-device-width: 480px) {
    #container{

        display: grid;
        height: 100%;
        border-radius: 6px;
        grid-template-areas:
            "header"
            "article"
            "footer"
    }
}

#main{

    background-color: white;
    display: grid;
    height: 100%;
    border-radius: 6px;
    grid-template-areas:
        "header"
        "article"
        "footer"
}

#title{
    align-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

#img-div{
    background: #E2E2E2;
    margin: 0px 20px 0px 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image{
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
}

#img-caption{
    margin: 10px 0px 10px 0px;
}

#tribute-info{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

#footer{

    background-color: black;

    height: 50px;

    text-align: center;
    color: white;
}
